<%- model_class = PaperSubmission -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="30%">Título</th>
      <th width="20%">Autor Principal</th>
      <th width="10%">Email</th>
      <th width="10%">Status</th>
      <th width="10%">Resumo</th>
      <th width="20%">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @paper_submissions.each do |paper_submission| %>
      <tr>
        <td><%= link_to paper_submission.title, admin_paper_submission_path(paper_submission) %></td>
        <td><%= paper_submission.name %></td>
        <td><%= paper_submission.email %></td>
        <td><%= paper_submission.status.description if paper_submission.status %></td>
		<td>
			<%= link_to image_tag("icn_pdf.gif"), paper_submission.paper.url, :target => "_blank" %>        
		</td>
		<td>
          <%= link_to "Visualizar",
                      admin_paper_submission_path(paper_submission), :class => 'btn btn-mini btn-primary' %>
		  <%= link_to "Editar",
			          edit_admin_paper_submission_path(paper_submission), :class => 'btn btn-mini' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @paper_submissions, :renderer => BootstrapPagination::Rails %>


